<h1>Add new album</h1>

<form action="/albums" method="POST">

  <div>
    <label>Enter title:</label>
  <input type="text" name="title" />
  </div>

  <div>
    <label>Enter release year:</label>
  <input type="text" name="release_year" />
  </div>

  <div>
    <label>Enter artist id:</label>
  <input type="text" name="artist_id" />
  </div>
    <br />
  <input type="submit" value="Submit the form">
</form>