<h1>Add new artist</h1>

<form action="/artists" method="POST">
  <div>
    <label>Artist name:</label>
    <input type="text" name="name" />
  </div>

  <div>
    <label>Genre:</label>
    <input type="text" name="genre" />
  </div> 
    <br />
  <input type="submit" value="Submit the form">
</form>  